div#profile {
    display: flex;
    justify-content: space-between;
    background-color: var(--surface-color);
    padding-block: 32px;
}

div.hero {
    display: flex;
    gap: 32px;

    & section.about {   
        max-width:384px ; 
    }
    
    & img {
        border-radius: 50%;
        max-width: 176px;
        max-height: 176px;
        object-fit: cover;
    }
}

div#infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;

    & a {
        display: flex;
        gap: 8px;
    }
    & * + * {
        margin-top: 16px;
    }
}